# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nếu node_modules đã từng bị commit trước đây
git rm -r --cached node_modules

# Thêm .gitignore vào git
git add .gitignore

# Commit thay đổi
git commit -m "Add .gitignore and remove node_modules from tracking"

# Push lên GitHub
git push -u origin portfolio