

.home-content h2,
.home-content p,
.home-content .mxh-icons {
    color: #fff;
}

.home-button .btn-about {
    background-color: #2196F3;
    color: white;
    width: 120px;
    transition: all 1s;
}

.home-button .btn-about:hover {
    background-color: #ccc;
    color: #2196F3;
    width: 168px;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover; 
    border: 8px solid #2196F3;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
 
}

.profile-pic:hover {
    transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(33, 150, 243, 0.3);
  transition: all 0.5s;
}