
.projects-title {
    color: #fff;
  position: relative;
  padding-left: 20px;
}

.projects-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 12px;
  height: 12px;
  background-color: #2196F3;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

.projects-title::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px;
  width: 2px;
  height: 100%;
  background-color: #2196F3;
}