.sidebar-section {
    display: flex;
    height: 100%;
    transition: background-color 0.3s ease; 
}

:where(.light) .sidebar-section {
    background-color: #10101A;
}

:where(.dark) .sidebar-section {
    background-color: #fff;
}

.sidebar-section, .container {
    padding-left: 22em;
    padding-right: 8em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 16em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; 
}

:where(.light) .sidebar {
    background-color: #0B0B13; 
}

:where(.dark) .sidebar {
    background-color: #eee; 
}

@media (min-width: 64em) and (max-width: 94em) {
    .sidebar {
        width: 16em;
    }
    .sidebar-section, .container {
        padding-left: 16em;
        padding-right: 2em;

    }
}

@media (min-width: 46.25em) and (max-width: 64em) {
    .sidebar {
        width: 80px;
    }
    .sidebar-section, .container {
        padding-left: 4em;
        padding-right: 2em;
    }
}

@media (max-width: 46.24em) {
    .sidebar {
        display: none;
    }
    .sidebar-section, .container {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(to bottom, #3b82f6, #06b6d4); 
    transform-origin: top;
    z-index: 9999;
}

