
.sidebar-section {
    display: flex;
    height: 100%; 
    background-color: #10101A;
}

.sidebar {
    background-color: #0B0B13;
    width: 80px;
    display: flex;
    flex-direction: column; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar-toggle {
    width: 260px;

}

.sidebar-toggle-icons {
    display: flex;
    justify-content: flex-end; 
    padding: 10px; 
    cursor: pointer;
}

.sidebar-toggle-icons p svg {
    color: #fff;
}

.sidebar-toggle + .container {
    margin-left: 18vw; 
}

/* ==== MOBILE VIEW ========== */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}