
.sidebar-section {
    display: flex;
    height: 100%;
    transition: background-color 0.3s ease; 
}

:where(.light) .sidebar-section {
    background-color: #10101A;
}

:where(.dark) .sidebar-section {
    background-color: #fff;
}

.sidebar {
    width: 80px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; 
}

:where(.light) .sidebar {
    background-color: #0B0B13; 
}

:where(.dark) .sidebar {
    background-color: #eee; 
}

.sidebar-toggle {
    width: 260px;
}

.sidebar-toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

:where(.light) .sidebar-toggle-icons p svg {
    color: #fff; 
}

:where(.dark) .sidebar-toggle-icons p svg {
    color: #10101A; 
}

.sidebar-toggle + .container {
    margin-left: 19vw;
}

.progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(to bottom, #3b82f6, #06b6d4); 
    transform-origin: top;
    z-index: 9999;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}